@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  font-family: "Outfit", system-ui;
  --primarycolor:#FF0101;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color:inherit
}
hr{
 border: none ;
 height: 1px;
 background-color: #a9a9a9;
}
.AppContent{
  display:flex;
}
.FlexCol{
  display: flex;
  flex-direction: column;
  gap: 10px;
}